@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif&family=Oswald:wght@700&family=Rubik+Mono+One&family=Satisfy&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
padding: 0;
margin: 0;
margin-top: 0;
overflow: hidden;
}

/* MENU */

.sections-menu {
    position: fixed;
    right: 1rem;
    top: 80%;
    transform: translateY(-50%);
    z-index: 100;
  }
  
  .sections-menu .menu-point {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    display: block;
    margin: 1rem 0;
    opacity: .6;    
    transition: .4s ease-in-out all;
    cursor: pointer;
  }
  
  .sections-menu .menu-point.active {
    opacity: 1;
    transform: scale(1.5);
  }
  
  .sections-menu .menu-point:hover {
    opacity: 1;
    transform: scale(1.2);
  }

/* HEADER */
#brand {
    color: #252525;
    font-size: 160px;
    font-family: 'Abril Fatface', cursive;
    position: fixed;
    left: 8%;
    top: 0;
    text-decoration: none;

}
#brand:hover {
    text-decoration: none;
    color: #252525;
}

/* MAİN-PAGE */

#mainPage {
    width: 100%;
    height: 100vh;
}

.container {
    text-align: center;
    justify-content: center;

}

#backgroundVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -10;
    background-size: cover;
    margin-top: -0.5%;
}



/* WORK PAGE */

 #workPage {
    width: 100%;
    height: 100vh;
    margin-top:-0.1mm;
}


.workTitle {
    font-family: 'Abril Fatface', cursive;
}

.workSecondTitle {
    font-family: 'Satisfy', cursive;
}
  
  .slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .slideshow .slide.is-active {
    display: block;
  }
  .slideshow .slide.is-loaded {
    opacity: 1;
  }
  .slideshow .slide .caption {
    padding: 0;
  }
  .slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
  }
  .slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slideshow .slide .image {
    width: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 400 80px/1.2 'Satisfy', cursive;;
    letter-spacing: 0.35em;
  }

  .slideshow .slide .text {
    margin: 0 auto;
    max-width: 500px;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Oswald', sans-serif;
    color: #e0e0e0;
  }
  
  .slideshow .pagination {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;
  }

  .slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 100;
  }
  .slideshow .arrows .prev {
    left: 30px;
  }
  .slideshow .arrows .prev:hover .svg {
    left: -10px;
  }
  .slideshow .arrows .next {
    right: 30px;
  }
  .slideshow .arrows .next:hover .svg {
    left: 10px;
  }
  .slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
  }

/* ABOUT PAGE */

#aboutPage {
    width: 100%;
    height: 100vh;
}

.aboutBackgroundContainer {
  position: absolute;
}

.aboutTitle {
    float: left;
    color: #FFF;
    font-size: 100px;
    position: relative;
    top:35%;
    z-index: 10;
    font-family: 'Abril Fatface', cursive;
    left: 33%;
}

.aboutSecondTitle {
    float: left;
    color: #FFF;
    font-size: 100px;
    position: relative;
    top: 45%;
    z-index: 10;
    font-family: 'Abril Fatface', cursive;
    left: 28%;
}

#aboutPage p {
  float: left;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 2.5px;
  position: relative;
  top: 60%;
  z-index: 10;
  font-family: 'Oswald', sans-serif;
  left: 12%;
  width: 30%;
}

/* CONTACT PAGE */

#contactPage {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  position: relative;

}

.contactText {
  position: relative;
  text-align: center;
  top: 45%;
  font-family: 'Noto Serif', serif;
}

.contactTitle {
  padding-bottom: 6%;
  font-size: 30px;
}

.socialLinks {
  color: black;
  padding: 10px;
  font-size: 14px;
}

.socialLinks:hover {
  color: black;
  text-decoration: none;
}

/* RESPONSİVE */

/* TABLET   */

@media screen and (max-width: 1024px ) {

  #aboutPage p {
    top: 50%;
    width: 600px;
    font-size: 25px;
  }

  .aboutBackgroundContainer {
    transform: rotate(270deg);
    left: -46%;
    
  }

  .aboutTitle {
    left: 8%;
    font-size: 130px;
  }

  .aboutSecondTitle {
    left: -5%;
    font-size: 130px;
  }
}

@media screen and (max-width: 850px ) {

  #aboutPage p {
    top: 50%;
  }

  .aboutBackgroundContainer {
    transform: rotate(270deg);
    left: -60%;

    
  }
}

/* MOBİL */   

@media screen and (max-width: 430px ) {
  
  #brand {
    font-size: 80px;
    margin-left: -2%;
    padding: 0;
    position: absolute;
  }

  
  .aboutBackgroundContainer {
    transform: rotate(270deg);
    left: -150%;
  }

  #workPage {
  height: 100%;
  }

  #aboutPage {
    margin-top: 0px;
  }

  #backgroundVideo {
    transform: rotate(90deg);
    top: -90%;
  }

  .workTitle {
    font-size: 100%;
  }
  .workSecondTitle {
    font-size: 80%;
    text-align: center;
  }

  .aboutTitle {
    left: 8%;
    font-size: 90px;
  }

  .aboutSecondTitle {
    left: -15%;
    font-size: 90px;
  }

  #aboutPage p {
    width: 300px;
    font-size: 15px;
    top: 45%;
  }

  .slideshow .arrows .arrow {
    margin: -33px;
    position: absolute;
    top: 50%;
    display: none;
  }
}

@media screen and (width: 414px ) {
  #backgroundVideo {
    top: -105%;
  }

  .aboutTitle {
    left: 8%;
  }

  .aboutSecondTitle {
    left: -15%;
    top: 46%;
  }

  
}

@media screen and (width: 412px ) {
  #backgroundVideo {
    top: -100%;
  }

  .aboutTitle {
    left: 8%;
  }

  .aboutSecondTitle {
    left: -115%;
    top: 46%;
  }

  
}

@media screen and (max-width: 390px ) {
  #backgroundVideo {
    top: -118.5%;
  }

  .aboutTitle {
    left: 8%;
  }

  .aboutSecondTitle {
    left: -18%;
    top: 45%;
  }

  #aboutPage p {
    top: 50%;
  }
}

@media screen and (max-width: 375px ) {

  #aboutPage p {
    top: 50%;
  }

  #workPage {
    top: -10%;
  }
}

@media screen and (max-width: 330px ) {
  #backgroundVideo {
    top: -145%;
  }

  .workTitle {
    font-size: 70%;
    
  }
  .workSecondTitle {
    font-size: 70%;
    text-align: center;
  }
  
  .aboutTitle {
    left: 8%;
    font-size: 70px;
    top: 25%;
  }

  .aboutSecondTitle {
    left: -15%;
    font-size: 70px;
    top: 35%;
  }

  #aboutPage p {
    top: 45%;
    font-size: 14px;
    left: 5%;
  }
}